{% extends 'base.html'%}

{%block content%}

<style>

    .form-row {
        display: flex;
        align-items: left;
        margin-bottom: 10px;
    }
    .form-row label {
        width: 250px; 
        margin-right: 1px; 
    }
    .form-row input[type="text"] {
        width: 150px;
    }

    
    
    
</style>

<h1>Reach out to us!</h1>
    <div class='horizontal-bar'></div> <p> <p>


<div class="form-container">
    <form id="ContactForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <div class='form-row'>
            <label for="{{form.subject.id_for_subject}}">Subject:</label>
            {{form.subject}}
        </div>

        <div class='form-row'>
            <label for="{{form.email.id_for_email}}">E-mail:</label>
            {{form.email}}
        </div>

        <div class='form-row'>
            <label for="{{form.message.id_for_message}}">Message:</label>
            {{form.message}}
        </div>
        <div class='form-row'>
            <label for="{{form.message.id_for_captcha}}"></label>
            {{form.captcha}}
        </div>

        <button class='submit-button' onclick="clearForm()">Clear</button>
        <button class='submit-button'>Send Message</button>
        
    </form>
</div>
</div>

<script>
    function clearForm() {
        document.getElementById("ContactForm").reset();
    }
</script>

{%endblock%}