{% extends 'base.html'%}

{% block content %}

<style>

    .form-row {
        display: flex;
        align-items: left;
        margin-bottom: 10px;
    }
    .form-row label {
        width: 250px; 
        margin-right: 1px; 
    }
    .form-row input[type="text"] {
        width: 150px;
    }

    
    
    
</style>


<body>
    <h1>Query our database</h1>

    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        

        <div class='form-row'>
            <label for="{{form.gisaid_accession.id_for_gisaid_accession}}">GISAID Accession:</label>
            {{form.gisaid_accession}}
        </div>
        <div class='form-row'>
            <label for="{{form.type.id_for_type}}">Type:</label>
            {{form.type}}
        </div>
        <div class='form-row'>
                <label for="{{form.clade.id_for_clade}}">Clade:</label>
                {{form.clade}}
            </div>

            <div class='form-row'>
                <label for="{{form.subclade.id_for_subclade}}">Subclade:</label>
                {{form.subclade}}
            </div>

            <button class='submit-button'>Query</button>
    </form>


</body>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const field1 = document.getElementById('id_for_gisaid_accession');
        const field2Radios = document.querySelectorAll('#id_for_clade input[type="radio"]');
        const field3Radios = document.querySelectorAll('#id_for_subclade input[type="radio"]');
        const field4Select = document.getElementById('id_for_type');
    
        function toggleFields() {
            const isField1Filled = field1.value.trim().length > 0;
    
            field2Radios.forEach(radio => radio.disabled = isField1Filled);
            field3Radios.forEach(radio => radio.disabled = isField1Filled);
    
            field4Select.disabled = isField1Filled;
        }
    
        field1.addEventListener('input', toggleFields);
    
        toggleFields();
    });
    


</script>


{% endblock %}