{% extends 'base.html'%}
{% load static %}
{% block content %}

<h1> MpoxMistDB Statistics </h1>
<div class='horizontal-bar'></div> <p> <p>

<div class='figure-container'>
    <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_1.JPG" alt="Figure 1" width="800" height="400"><p>
    <div class='legend'>
        <strong>Legend:</strong> Figure 1. Pie charts of predicted microsatellites in the MPXV genomes: (a) Clade Ia; (b) Clade Ib; (c) Clade IIa; and (d) Clade IIb. 
    </div>
</div>

    <div class='horizontal-bar'></div>


    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_2.JPG" alt="Figure 1" width="800" height="400"><p>
        <div class='legend'>
            <strong>Legend:</strong> Figure 2. SSRs in Clade Ia genomes: (a) Pie chart of SSR counts distribution for each type; (b) Pie chart of SSR length distribution for each type; (c) Graphical representation of SSR length distribution for each SSR type; (d) Graphical representation of SSR repeat distribution for each SSR type; and (e) The most abundant motif categories in the identified SSRs.  
        </div>
    </div>
    
        <div class='horizontal-bar'></div>

{% endblock %}