{% extends 'base.html'%}
{% load static %}
{% block content %}

<h1> MpoxMistDB Statistics </h1>
<div class='horizontal-bar'></div> <p> <p>

<div class='figure-container'>
    <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_1.JPG" alt="Figure 1" width="800" height="400"><p>
    <div class='legend'>
        <strong>Legend:</strong> Figure 1. Pie charts of predicted microsatellites in the MPXV genomes: (a) Clade Ia; (b) Clade Ib; (c) Clade IIa; and (d) Clade IIb. 
    </div>
</div>

    <div class='horizontal-bar'></div>  <p> <p>


    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_2.JPG" alt="Figure 2" width="800" height="400"><p>
        <div class='legend'>
            <strong>Legend:</strong> Figure 2. SSRs in Clade Ia genomes: (a) Pie chart of SSR counts distribution for each type; (b) Pie chart of SSR length distribution for each type; (c) Graphical representation of SSR length distribution for each SSR type; (d) Graphical representation of SSR repeat distribution for each SSR type; and (e) The most abundant motif categories in the identified SSRs.  
        </div>
    </div>
    
        <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_3.JPG" alt="Figure 3" width="800" height="400"><p>
            <div class='legend'>
                    <strong>Legend:</strong> Figure 3. cSSRs in Clade Ia genomes: (a) The complexity distribution of cSSRs; (b) Length distribution of cSSRs; and (c) Gap length distribution of cSSRs. 
            </div>
    </div>
            
        <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_4.JPG" alt="Figure 4" width="800" height="400"><p>
            <div class='legend'>
                    <strong>Legend:</strong> Figure 4. iSSRs in Clade Ia genomes: (a) Pie chart of the number of iSSRs for each type; (b) Length of the iSSRs for each type; (c) Distribution of iSSRs length; and (d) Most abundant motif categories. 
            </div>
    </div>
                    
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
            <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_5.JPG" alt="Figure 5" width="800" height="400"><p>
                <div class='legend'>
                        <strong>Legend:</strong> Figure 5. VNTRs in Clade Ia genomes: (a) The distribution of VNTR repeats; (b) Distribution of VNTR types; and (c) Distribution of VNTR length.
                </div>
    </div>
                                
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_6.JPG" alt="Figure 6" width="800" height="400"><p>
            <div class='legend'>
                    <strong>Legend:</strong> Figure 6. SSRs in Clade Ib genomes: (a) Pie chart of SSR counts distribution for each type; (b) Pie chart of SSR length distribution for each type; (c) Graphical representation of SSR length distribution for each SSR type; (d) Graphical representation of SSR repeat distribution for each SSR type; and (e) The most abundant motif categories in the identified SSRs. 
            </div>
    </div>
                                        
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_6.JPG" alt="Figure 6" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 6. SSRs in Clade Ib genomes: (a) Pie chart of SSR counts distribution for each type; (b) Pie chart of SSR length distribution for each type; (c) Graphical representation of SSR length distribution for each SSR type; (d) Graphical representation of SSR repeat distribution for each SSR type; and (e) The most abundant motif categories in the identified SSRs. 
            </div>
    </div>
                                                
            <div class='horizontal-bar'></div>  <p> <p>
                    
    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_7.JPG" alt="Figure 7" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 7. cSSRs in Clade Ib genomes: (a) The complexity distribution of cSSRs; (b) Length distribution of cSSRs; and (c) Gap length distribution of cSSRs. 
            </div>
    </div>
                                                            
            <div class='horizontal-bar'></div>  <p> <p>
                
    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_8.JPG" alt="Figure 8" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 8. iSSRs in Clade Ib genomes: (a) Pie chart of the number of iSSRs for each type; (b) Length of the iSSRs for each type; (c) Distribution of iSSRs length; and (d) Most abundant motif categories. 
            </div>
    </div>
                                                                        
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_9.JPG" alt="Figure 9" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 9. VNTRs in Clade Ib genomes: (a) The distribution of VNTR repeats; (b) the distribution of VNTR types; and (c) the distribution of VNTR length. 
            </div>
    </div>
                                                                                    
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_10.JPG" alt="Figure 10" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 10. SSRs in Clade IIa genomes: (a) Pie chart of SSR counts distribution for each type; (b) Pie chart of SSR length distribution for each type; (c) Graphical representation of SSR length distribution for each SSR type; (d) Graphical representation of SSR repeat distribution for each SSR type; and (e) The most abundant motif categories in the identified SSRs. 
            </div>
    </div>
                                                                                                
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_11.JPG" alt="Figure 11" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 11. cSSRs in Clade IIa genomes: (a) The complexity distribution of cSSRs; (b) Length distribution of cSSRs; and (c) Gap length distribution of cSSRs. 
            </div>
    </div>
                                                                                                            
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_12.JPG" alt="Figure 12" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 12. iSSRs in Clade IIa genomes: (a) Pie chart of the number of iSSRs for each type; (b) Length of the iSSRs for each type; (c) Distribution of iSSRs length; and (d) Most abundant motif categories. 
            </div>
    </div>
                                                                                                                        
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_13.JPG" alt="Figure 13" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 13. VNTRs in Clade IIa genomes: (a) The distribution of VNTR repeats; (b) Distribution of VNTR types; and (c) Distribution of VNTR length.
            </div>
    </div>
                                                                                                                                    
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_14.JPG" alt="Figure 14" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 14. SSRs in Clade IIb genomes: (a) Pie chart of SSR counts distribution for each type; (b) Pie chart of SSR length distribution for each type; (c) Graphical representation of SSR length distribution for each SSR type; (d) Graphical representation of SSR repeat distribution for each SSR type; and (e) The most abundant motif categories in the identified SSRs. 
            </div>
    </div>
                                                                                                                                                
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_15.JPG" alt="Figure 15" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 15. cSSRs in Clade IIb genomes: (a) The complexity distribution of cSSRs; (b) Length distribution of cSSRs; and (c) Gap length distribution of cSSRs. 
            </div>
    </div>
                                                                                                                                                            
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_16.JPG" alt="Figure 16" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 16. iSSRs in Clade IIb genomes: (a) Pie chart of the number of iSSRs for each type; (b) Length of the iSSRs for each type; (c) Distribution of iSSRs length; and (d) Most abundant motif categories. 
            </div>
    </div>
                                                                                                                                                                        
            <div class='horizontal-bar'></div>  <p> <p>

    <div class='figure-container'>
        <img src="https://raw.githubusercontent.com/gustavsganzerla/ssr-db/refs/heads/main/django_sample/database/static/images/Figure_17.JPG" alt="Figure 17" width="800" height="400"><p>
            <div class='legend'>
                <strong>Legend:</strong> Figure 17. VNTRs in Clade IIb genomes: (a) The distribution of VNTR repeats; (b) Distribution of VNTR types; and (c) Distribution of VNTR length.  
            </div>
    </div>
                                                                                                                                                                                    
            <div class='horizontal-bar'></div>  <p> <p>
{% endblock %}